@import url('https://fonts.cdnfonts.com/css/gotham');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Light', sans-serif;
    color: #a2a2a2;
}

body {
    background-color: #000;
    color: white;
    overflow: hidden;
}

#logo {
    width: 15rem;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 2;
}

.preloader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 2s ease-in-out;
    opacity: 0;
    width: 100%;
}

.preloader-container p {
    text-align: center;
    font-size: 56px;
    word-wrap: normal;
}

strong {
    color: white;
    font-weight: bold;
}

.logo-container {
    order: 1;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.bottom-logo-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transition: opacity 1s ease-in-out;
    transform: translateX(-50%);
    font-size: 24px;
    opacity: 0;
}

.bottom {
    order: 4;
    margin-bottom: 0;
    margin-top: 50px;
}

.name-container, 
.about-container,
.contact-container,
.introduction-container {
    order: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in, opacity 1s ease-in;
    opacity: 0;
}

.about-container,
.contact-container {
    width: 50%;
}

.about-container p,
.contact-container p {
    font-size: 20px;
    text-align: center;
    color: #f2f2f2;
}

.contact-container p:nth-child(1) {
    margin-bottom: 30px;
}

.name-container ul {
    list-style: none;
    font-size: 20px;
    width: 100%;
}

.name-container ul li {
    margin: 0.75em 0;
    text-align: center;
}

.email-container {
    font-size: 20px;
    order: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    z-index: 20;
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1s ease-in, opacity 1s ease-in;
}

.back-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

button,
a {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    display: block;
    text-decoration: none;
}

button:hover,
a:hover {
    font-weight: bold;
    color: white;
}

.back-btn-container button {
    border-top: 0.5px solid #f2f2f2;
}

.hover {
    max-height: 1000px;
    opacity: 1;
}

.hoverEmail {
    max-height: 500px;
    opacity: 1;
}

.unhover {
    max-height: 0;
    opacity: 0;
}

.svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 130vh;
    width: 130vh;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.svg-container .circle-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.svg-container .left {
    animation: rotateAnimation 4s linear infinite;
}

.svg-container .right {
    animation: rotateAnimation 4s linear infinite reverse;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

@media (max-width: 768px) {
    .name-container ul li,
    .email-container {
        font-size: 0.75rem;
    }
    .logo-container {
        flex-direction: column;
    }
    .about-container,
    .contact-container {
        width: 80%;
    }
    .svg-container {
        width: 100vh;
        height: 130vh;
    }
    .preloader-container p {
        font-size: 36px;
    }
    .bottom-logo-container {
        opacity: 0;
    }
}