@import url('https://fonts.cdnfonts.com/css/gotham');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Light', sans-serif;
}

body {
    background-color: #000;
    color: white;
}

#logo {
    width: 15rem;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    order: 1;
}

.name-container {
    order: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in, opacity 150ms ease-in;
    opacity: 0;
    width: 100%;
    display: flex;
}

.name-container ul {
    list-style: none;
    font-size: 1.25em;
    width: 100%;
}

.name-container ul li {
    margin: 0.75em 0;
    text-align: center;
}

.email-container {
    font-size: 1.25rem;
    order: 3;
    padding: 0.625rem 0;
    height: 100%;
    cursor: pointer;
}

.inner-container:hover > .name-container {
    max-height: 1000px;
    opacity: 1;
}

.hover {
    max-height: 1000px;
    opacity: 1;
}

@media (max-width: 768px) {
    .name-container ul li,
    .email-container {
        font-size: 1rem;
    }
}